@mixin justify {
  text-align: justify;

  &:before {
    content: '';
    display: block;
    width: 100%;
    margin-bottom: -1.2em;
  }

  &:after {
    content: '';
    display: inline-block;
    width: 100%;
  }

  > * {
    display: inline-block;
    position: relative;
    top: 1.2em;
  }
}
