@import "lib/normalize";
@import "_common";
@import "_variables";
@import "_fonts";
@import "_mixins";

@media only screen and (min-width: 960px) {
    .container {
        max-width: 960px;
    }
}

@media only screen and (min-width: 1264px) {
    .container {
        max-width: 1180px;
    }
}

@media only screen and (min-width: 1904px) {
    .container {
        max-width: 1440px;
    }
}

// Typography
.text {
    margin: 0;

    &--blue {
        color: $blue;
    }

    &--light {
        color: $light;
    }

    &--dgrey {
        color: $dgrey;
    }

    &--grey {
        color: $grey;
    }

    &--dblack {
        color: $dblack;
    }

    &--black {
        color: $black;
    }

    &--rub {
        margin-bottom: 6px;

        &:before {
          font-size: 20px;
          margin-left: -12px;
          color: $dblack;
        }
    }

    &--rub-smooth {
        &:before {
          font-size: 20px;
          margin-left: -12px;
          color: $dgrey;
        }
    }
}

.nav-link {
    color: $black;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    &--decor {
        display: inline-block;
        line-height: 1.2;

        &:before,
        &:after {
          content: '';
          position: absolute;
          transition: transform .5s ease;
        }

        &:before {
          left: 0;
          bottom: 1px;
          width: 100%;
          height: 1px;
          background: $dgrey;
          transform:  translateX(-105%);
        }

        &:hover:before {
          transform:  translateX(0);
        }
    }
}

.nav-btn {
    margin-right: 36px;
}


//Buttons
.btn-menu {
    min-width: 50px;
}

.btn-reduce,
.btn-add {
    min-width: 40px;
    border: 1px solid $light;
}

.btn-reduce {
    margin-right: 8px;
    margin-left: 16px;
}

.btn-add {
    margin-left: 8px;
}

.btn-clear {
    background: $grey;
    border: 1px solid $light;
}

.btn-order {
    background-color: $black !important;
    color: #fff;
}

.btn-apply-code {
    position: absolute;
    top: 0;
    right: 0;
    top: -3px;
    min-width: 40px;
}

.btn-close {
    position: absolute;
    top: 20px;
    right: 24px;
}

//cart and checkout
.order {
  border: 1px solid $light;
  background: $checkout;
  margin-bottom: 24px;

  &__list {
    margin-top: 8px;

    li {
      margin: 12px auto 0;
      @include justify;
    }

    .summary {
      margin-top: 24px;
      margin-bottom: 16px;
    }
  }
}

.payment-banks {
  margin-top: 20px;

  &__list {
    text-align: center;
  }

  &__li {
    border: 1px solid rgba(0,0,0, .2);
    border-radius: 2px;
    height: 26px;
    width: 42px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 1px;
    margin-right: 1px;
  }

  .visa {
    background: url('/static/visa.svg'), #f1f1f1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;;
  }
  .mastercard {
    background: url('/static/mcard.svg'), #f1f1f1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .maestro {
    background: url('/static/maestro.svg'), #f1f1f1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  .alfa {
    background: url('/static/alfa.svg'), #f1f1f1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;;
  }
  .sber {
    background: url('/static/sber.svg'), #f1f1f1;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;;
  }
}

//Forms
form {
  .form-group {
    border-bottom: 2px solid $black;
  }

  .accent--text {
    color: $black !important;
  }

  .v-radio .v-icon {
    font-size: 16px !important;
  }
}
