@import "lib/normalize";
@import "_common";
@import "_variables";
@import "_fonts";

// Grid
.skin {
    max-width: 84rem;
    min-width: 50rem;
}

// Typography
.text {
    margin: 0;

    &--blue {
        color: $blue;
    }

    &--light {
        color: $light;
    }

    &--dgrey {
        color: $dgrey;
    }

    &--grey {
        color: $grey;
    }

    &--dblack {
        color: $dblack;
    }

    &--black {
        color: $black;
    }

    &--rub {
        margin-bottom: 6px;

        &:before {
          font-size: 20px;
          margin-left: -12px;
          color: $dblack;
        }
    }

    &--rub-smooth {
        &:before {
          font-size: 20px;
          margin-left: -12px;
          color: $dgrey;
        }
    }
}

.nav-link {
    color: $black;
    text-decoration: none;
    position: relative;
    overflow: hidden;

    &--decor {
        display: inline-block;
        line-height: 1.2;

        &:before,
        &:after {
          content: '';
          position: absolute;
          transition: transform .5s ease;
        }

        &:before {
          left: 0;
          bottom: 1px;
          width: 100%;
          height: 1px;
          background: $dgrey;
          transform:  translateX(-105%);
        }

        &:hover:before {
          transform:  translateX(0);
        }
    }

}

.nav-btn {
    margin-right: 36px;
}

.btn-menu {
    min-width: 50px;
}

.btn-close {
    position: absolute;
    top: 20px;
    right: 24px;
}
